<%- include("../partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Find your Dream Job</h1>
            <p>Use your Job Portal Profile to apply to multiple companies</p>
            <!---permanent navbar banana hai isko-->
            <p>
                <form action="/seeker/index" method="GET" class="form-inline">
                   <div class="form-group">
                       <input type="text" name ="search_name" class="form-control" placeholder="Search by jobs">
                       <input type="submit" name="submit1" class="btn btn-default">
                   </div>
                </form>
            </p>
            <p>
                <form action="/seeker/index" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name ="search_location" class="form-control" placeholder="Search by location">
                        <input type="submit" name="submit2" class="btn btn-default">
                    </div>
                 </form>
            </p>
            <p>
                <form action="/seeker/index" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name ="search_keywords" class="form-control" placeholder="Search by keywords">
                        <input type="submit" name="submit3" class="btn btn-default">
                    </div>
                 </form>
            </p>
            
        </div>
    </header>
    <div class="row" style="display: flex; flex-wrap: wrap;padding-left: 10px;">
        <% jobs.forEach(function(job) { %>
            <div class="col-md-3 col-sm-6" >
                <div class="thumbnail" style="padding-left: 20px;box-shadow: 0 3px 10px 0 rgba(0,0,0,.1)">
                <img src="https://tppwebsolutions.com/wp-content/uploads/logo-demo3.png" height="75px" width="75px" >

                    <div class="caption">
                        <h3 style="padding-left:10%;font-weight: 500;text-transform: capitalize;color:#0e141e;"><%- job.name %></h3>
                        <h5 style="text-transform:uppercase;color:#576871"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-right:5px;color:#0e141e">
                            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                          </svg><%- job.company %></h5>
                        <h5 style="color: #888888;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-right:5px;color:#0e141e">
                            <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          </svg><%- job.location %></h5>
                        <h5 style="color: #888888;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg"style="margin-right:5px;color:#0e141e">
                            <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                          </svg><%- job.experience %>+ years of experience</h5>
                    </div>
                    <p>
                        <a href="/job/seeker/<%= job._id %>" class="btn btn-primary">More info</a>
                    </p>
                </div>
            </div>
        
        
            <% }); %>
    </div>
<a href="/">Go Back</a>

        </div>
<%- include("../partials/footer") %>