<%- include("../partials/header")%>
<!-- <p ><%= foundSeeker.firstname %> <%=foundSeeker.lastname%></p>
        <p>
            <a href="/seeker/<%= foundSeeker._id %>/appliedJobs" class="btn btn-primary">Applied Jobs</a>
        </p> -->
<!-- https://bootdey.com/img/Content/avatar/avatar7.png -->
<style>
    body {
        /* margin-top: 20px; */
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
       
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col,
    .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }
    .displayform{
        display: none;
    }
    .projectform_input{
        margin: 5px 10px 5px 0;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .fontstyle{
        font-family: 'Roboto', sans-serif;
    }
</style>

<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/seeker/index">Home</a></li>
                <li class="breadcrumb-item">User</li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->


        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <%  var str1= foundSeeker.image; %>
                           <% if(str1.startsWith('https')){ %>
                                <img src="<%= str1 %>" alt="Admin" class="rounded-circle"
                                width="150">
                           <% } else{ %>
                            <img src="/resume_folder/<%= foundSeeker.image %>" alt="Admin" class="rounded-circle"
                                width="150">
                            <% } %>
                            <div class="mt-3">
                                <h4><%= foundSeeker.firstname%> <%= foundSeeker.lastname%></h4>
                                <p class="text-secondary mb-1"><%= foundSeeker.status%></p>
                                <p class="text-muted font-size-sm"><%= foundSeeker.city%>, <%= foundSeeker.state%>,
                                    <%= foundSeeker.country%></p>
        
                                <a href="/seeker/<%= foundSeeker._id %>/appliedJobs"
                                    class="btn btn-primary active ">Applied Jobs</a>
                                <button class="btn btn-outline-primary active">Edit Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-globe mr-2 icon-inline">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                    <path
                                        d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                    </path>
                                </svg><a href="<%=foundSeeker.website%>"><b>Website</b></a></h6>
                            <span class="text-secondary"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-github mr-2 icon-inline">
                                    <path
                                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                    </path>
                                </svg><a href="<%=foundSeeker.githubId%>"><b>Github</b></a></h6>
                            <span class="text-secondary"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><i class="fas fa-linkedin"></i><a
                                    href="<%=foundSeeker.linkedinId%>"><b>LinkedIn</b></a></h6>
                            <span class="text-secondary"><a></a></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                    class="bi bi-file-earmark-break-fill" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V9H2V2zm0 10v2a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-2H2zm7-8l.5-2.5 3 3L10 5a1 1 0 0 1-1-1zm-9 6.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
                                </svg><a href="/resume_folder/<%= foundSeeker.resume %>" download width="100%"
                                    height="200px"><b> My Resume</b></a></h6>
                            <span class="text-secondary"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= foundSeeker.firstname%> <%=foundSeeker.lastname%>
                            </div>
                        </div>
                        <hr>
                        <% if(foundSeeker.gender) {%>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%=foundSeeker.gender%>
                            </div>
                        </div>
                        <hr>
                        <% } %>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= foundUser.email%>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Status</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= foundSeeker.status%>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Education</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= foundSeeker.education%>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Degree</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= foundSeeker.degree%>
                            </div>
                        </div>
                        <hr>
                        <% if(foundSeeker.stream) {%>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Major field of Study</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= foundSeeker.stream%>
                            </div>
                        </div>
                        <hr>
                        <% } %>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Present Year of Study</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= foundSeeker.studyYear%>
                            </div>
                        </div>
                        <hr>
                        <% if(foundSeeker.cgpa){ %>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">CGPA</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= foundSeeker.cgpa%>
                            </div>
                        </div>
                        <hr>
                        <% } %>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Contact Info</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%=foundSeeker.phone%>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project -->
                <div class="row gutters-sm">
                    <div class="col-md-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <button class="btn btn-secondary active pull-right" style="margin-inline-start: 7px;">Edit Project</button>
                                <button id="projectBtn"  class="btn btn-info active pull-right"  >Add Projects</button>
                                <div id="inline">
                                    <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">assignment</i>Project Status</h6>

                                        <!-- Show Project Details -->
                                        <% foundSeeker.projects.forEach(function(project){ %>
                                            <div style="font-family: 'Roboto', sans-serif; margin-top: 20px; " class="panel panel-success">
                                                <div class="panel-heading" style="color: black;"><%= project.title%></div>
                                                <div class="panel-body">
                                                    <p  class="text-muted"><%=project.starttime%> - <%= project.endtime%></p>
                                                    <p ><%= project.description%></p>
                                                    <br>
                                                    <b>Link: </b><a><%=project.url%></a>
                                                    
                                                </div>
                                            </div>
                                       <% })%>

                                        <!-- hidden inline form -->
                                    <form class="form-inline displayform fontstyle" id="projectForm" action="/seeker/<%=foundUser._id%>/addproject" method="post" name="projects">
                                        <div class="projectform_input">
                                            <label for="project_name">Project Name</label>
                                            <input id="project_title" name="project_title" type="text"  style="width: 100%;" required />
                                        </div>
                                        <div class="projectform_input">
                                            <label for="project_url">Project URL</label>
                                            <input id="project_url" name="project_url" type="url"style="width: 100%;" required />
                                        </div>
                                        <div class="form-inline projectform_input" style="display: flex;flex-flow: row wrap; align-items: center;vertical-align: middle">
                                            <label for="project_time">Project Duration</label>
                                            <br>
                                            <div class="float-left">
                                                <select id="project_start_month" name="project_start_month">
                                                    <option value selected="selected">Start Month</option>
                                                    <option value="January">January</option>
                                                    <option value="Febuary">Febuary</option>
                                                    <option value="March">March</option>
                                                    <option value="April">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="October">October</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>
                                                </select>
                                                <select id="project_start_year" name="project_start_year">
                                                    <option value selected="selected">Start Year</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2000">2000</option>
                                                    <option value="1999">1999</option>
                                                    <option value="1998">1998</option>
                                                    <option value="1997">1997</option>
                                                    <option value="1996">1996</option>
                                                    <option value="1995">1995</option>
                                                    <option value="1994">1994</option>
                                                    <option value="1993">1993</option>
                                                    <option value="1992">1992</option>
                                                </select>
                                            </div>
                                            <div class="float-left"><b> ~ </b></div>
                                            <div class="float-left">
                                                <select id="project_end_month" name="project_end_month">
                                                    <option value selected="selected">End Month</option>
                                                    <option value="Current"> Current</option>
                                                    <option value="January">January</option>
                                                    <option value="Febuary">Febuary</option>
                                                    <option value="March">March</option>
                                                    <option value="April">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="October">October</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>
                                                </select>
                                                <select id="project_end_year" name="project_end_year">
                                                    <option value selected="selected">End Year</option>
                                                    <option value="Current">Current</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2000">2000</option>
                                                    <option value="1999">1999</option>
                                                    <option value="1998">1998</option>
                                                    <option value="1997">1997</option>
                                                    <option value="1996">1996</option>
                                                    <option value="1995">1995</option>
                                                    <option value="1994">1994</option>
                                                    <option value="1993">1993</option>
                                                    <option value="1992">1992</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="projectform_input">
                                            <label>Description</label>
                                            <textarea cols="80" rows="6" name="project_description" style="width: 100%;"></textarea>
                                        </div>
                                       
                                        <button id="addproject" class="btn btn-success active">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
<!-- 
                <div class="row gutters-sm">
                    <div class="col-md-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                                <small>Web Design</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%"
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Website Markup</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 72%"
                                        aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>One Page</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 89%"
                                        aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Mobile Template</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 55%"
                                        aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Backend API</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 66%"
                                        aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <!-- <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">

                                <!-- <p>
                                    <a href="/resume_folder/<%= foundSeeker.resume %>" download width="100%" height="200px">
                                  with a tag</a>
                                        <!-- <a href="" class="btn btn-primary" download>download resume</a> -->
                    <!-- <embed src="/resume_folder/<%= foundSeeker.resume %>" alt="image" type="application/pdf"   height="700px" width="500">
                                </p> -->
                    <!-- <p>
                                    <img src="/resume_folder/<%= foundSeeker.image %>" alt="not uploaded" width="200" height="300" >
                                            </p> -->

                    <!-- </div> -->
                    <!-- </div> -->
                    <!-- </div> -->


                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

<script>
    var btn=document.querySelector('#projectBtn');
    btn.addEventListener('click',function(){
            document.querySelector('#projectForm').classList.toggle('displayform');
    })
</script>

<%- include("../partials/footer") %>