<%- include("../partials/header") %>
<style>
    #hiddenDiv {
        display: none;
    }

    #btn1[disabled]:hover+#hiddenDiv {
        display: inline-flex;
    }

    body {
        background: rgb(243, 246, 247);
    }
    .row{
        margin-bottom: 50px;
    }
    .card {
        background-color: rgb(223, 233, 235);
        margin-top: 70px;
        margin-bottom: 30px;
        text-align: center;
        margin-left: 30px;
        width:280px;
        min-height:280px;
        padding:10px;
    }
    .card-body{
        padding:10px;
    }
    /* .card-title{
        padding-top: 20px; 
    } */
    @media(max-width: 1200px) {
     .row{
         margin: 0;
        
     }
     .card{
         margin-left: 10px;
     }
        
}
    #message{
        background: rgb(180, 238, 188);
        margin: 20px 0 20px;
        padding: 20px;
    }
    
    
</style>
<section>
    <div id="message">
        <div class=" mb-5">
            <div class="container">
                <h2 class="display-20 display-md-18 display-lg-16">TAKE A QUIZ</h2><ul>
                    <li>Below Quizzes are designed to test your problem-solving, analytical and time-management skills.</li>
                    <li> It will test you on the basis of different parameters of skills and knowledge.</li>
                    <li>These tests are <b>not compulsory </b>but might give you an edge over other applicants for the same job.</li>
                    <li>Scoring Good might increase you selection chance and at the same time will tell you where you stand in your analytical and problem-solving skills.</li>
                </ul>
            <!-- <p>Below Quizzes are designed to test your problem-solving, analytical and time-management skills.<br>
                It will test you on the basis of different parameters of skills and knowledge.<br>
                These tests are <b>not compulsory </b>but might give you an edge over other applicants for the same job. <br>
                Scoring Good might increase you selection chance and at the same time will tell you where you stand in your analytical and problem-solving skills.<br>
                Score of <b>Best of the 3</b> Quiz will be shared with the company you are applying to. So make sure,you perform well in these tests.</p> -->
            </div>
            
        </div>
    </div>
    <div class="container">

        <div class="row">
            <% seeker.ScoreStatus.forEach(function(testgiven){ %>
            <div class="col-sm-12 col-lg-4 d-flex">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><%= testgiven.title %></h3>
                        <h5 class="card-subtitle mb-2 text-muted">All the Best!</h5>
                        <p class="card-text">Take this quiz to build your application.</p>
                                    <p class="card-text">Improvement is the key to Success.</p>
                       <!-- <form action="/quiz/<%= quiz._id %>/instructions" method="GET"> -->
                            <a href="/quiz/<%= quiz._id %>/instructions" class="btn btn-primary card-link" id="btn1"
                                disabled onclick="return false;">Give</a>
                                <div class="main " id="hiddenDiv">You Have Already Attempted This Test.</div>
                       <!-- </form> -->
                    </div>
                </div>
            </div>
            <% }); %>
            <%    if(seeker.ScoreCount < currentUser.QuizCount){%>
            <% quiz.forEach(function(quiz){
                var check=false; %>
            <%   seeker.ScoreStatus.forEach(function(test){ %>
            <%      if(String(test.test_id) == String(quiz._id)) { 
                     check= true; }%>
            <% }); %>
            <% if(!check){ %>
                <div class="col-sm-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><%= quiz.title %></h3>
                            <h5 class="card-subtitle mb-2 text-muted">All the Best!</h5>
                            <p class="card-text">Take this quiz to build your application.</p>
                                        <p class="card-text">Improvement is the key to Success.</p>
                           <!-- <form action="/quiz/<%= quiz._id %>/instructions" method="GET"> -->
                                <a href="/quiz/<%= quiz._id %>/instructions" class="btn btn-primary card-link" >Give</a>
                           <!-- </form> -->
                        </div>
                    </div>
                </div>   
            <% } %>
                <% }); %>
            <% } %>
        </div>
        
    </div>
</section>
<%- include("../partials/footer") %>
