<%- include("../partials/header")%>
<style>
	body{
		background-color: #e2e8f0;
	}
</style>
<div class="container">
	<h2 class="text-center"><b>Seekers</b></h2>
			<br>
			<br>
	<div class="table-responsive">
	<table class="table table-hover table-bordered " style="background-color:rgb(240, 246, 247);">
		<!-- <thead class="thead-dark"> -->
            <thead class="thead-dark" style="background-color: black;color:white">
			<tr>
                <th scope="col">No.</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">College</th>
                <th scope="col">Graduation Year</th>
                <th scope="col">Stream</th>
                <th scope="col">More Info</th>
			</tr>
		</thead>
				     <% var i=1; %>
					<% seekers.forEach(function(seeker){ %>
							<tbody>
								<tr>
                                    <th scope="row"><%=i %></th>
                                    <td><%=seeker.firstname %></td>
                                    <td><%=seeker.lastname %></td>
                                    <td><%=seeker.education %></td>
                                    <td><%=seeker.gradyear %></td>
                                    <td><%=seeker.stream %></td>
                                    <td>
                                        <a class="btn btn-primary" role="button" href="/seeker/<%= seeker.seekerBy.id %>/myprofile">More Info</a>
                                    </td>
								</tr>
							</tbody>
				<% i++ %>
				<% }); %>
	</table>
	</div>
<div class="row text-center" >
<% if(pages >0){ %> 
	<ul class="pagination text-center" >
		<% if (current == 1) { %>
			<li class="disabled"><a>First</a></li>
		<% } else { %>
			<li><a href="/admin/seekers/1">First</a></li>
		<% } %>
		<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/admin/seekers/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/admin/seekers/<%= pages %>">Last</a></li>
                    <% } %>
				</ul>
                </div>
		<% }; %>
                
</div>
<%- include("../partials/footer") %>