<!DOCTYPE html>
<html lang="en">

<head>
    <title>WeHire</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCXFJ-lc7cHHcEklG2_oIhTnPKTWsLwHEU"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            // show the alert
            setTimeout(function () {
                $(".alert").alert('close');
            }, 5000);
        });
      // show the alert

    </script>

</head>
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
    }
    
</style>

<body>
    <nav style="background-color: #3a4066;" class="navbar navbar-expand-lg navbar-dark py-1 ">
        <div class="container">
            <a class="navbar-brand " href="/">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-intersect" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm5 10v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2v5a2 2 0 0 1-2 2H5zm6-8H6a2 2 0 0 0-2 2v5H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2z" />
                </svg>
                WeHire</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <% if(currentUser){ %>
                    <% if(currentUser.isCompany) { %>
                    <li class="nav-item">
                        <a class="nav-link " style="color: floralwhite;margin-top: 10px;" href="/company/show">Dashboard <span
                                class="sr-only">(current)</span></a></li>
                    <% } else if(currentUser.isAdmin) { %>
                    <li class="nav-item"><a class="nav-link " style="color: floralwhite;" href="/admin/index">Home</a></li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link " style=" color: floralwhite;margin-top: 10px;" href="/seeker/index">Dashboard
                            <span class="sr-only">(current)</span></a></li>
                    <% } %>
                    <% } %>
                </ul>
                <ul class="navbar-nav  justify-content-end">
                    <% if(!currentUser){ %>
                    <li class="nav-item"><a  class="nav-link " style="color: floralwhite;" href="/login">Login</a></li>
                    <li class="nav-item"><a style="color:floralwhite;padding-right: 40px;" class="nav-link"
                            href="/register">Sign Up</a></li>
                    <% } else { %>
                    <% if(currentUser.isCompany) { %>
                    <li class="nav-item">
                        <a class="nav-link" style="color: floralwhite;margin-top: 10px;"
                            href="/company/<%= currentUser._id %>/myprofile">Signed In As
                            <%= currentUser.username %></a></li>
                    <% } else if(currentUser.isAdmin) { %>
                    <li><a class="dropdown-item" class="nav-link " style="color: floralwhite;"  href="/contactus">Contact Page</a></li>
                    <li><a class="dropdown-item" class="nav-link " style="color: floralwhite;"  href="/aboutus">Profile</a></li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link " style="color:floralwhite ;margin-top: 10px;"
                            href="/seeker/<%= currentUser._id %>/myprofile">Signed In As
                            <%= currentUser.username %></a></li>
                    <% } %>
                    <!-- <li class="nav-item">
                        <a class="nav-link " style="color: white;padding-right: 40px;" href="/logout">Logout</a></li> -->
                    <% } %>

                    <!-- <li class="nav-item"><a class="nav-link " style="color: rgb(215, 224, 163);"
                            href="/contactus">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link " style="color: rgb(215, 224, 163);" href="/aboutus">About
                            Us</a></li> -->
                    <li>
                        <ul class="dropdown show">
                            <a style="margin-top: 5px; color: white;" class="btn dropdown-toggle" href="#" role="button"
                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- <i class="fa fa-caret-down"></i> -->
                            </a>
                            <ul class="dropdown-menu" style="font-size:14px" aria-labelledby="dropdownMenuLink">
                                <% if(currentUser && currentUser.isCompany){ %>
                                <!-- <li ><a class="dropdown-item" href="/company/<%= currentUser._id %>/editprofile">Edit Profile</a></li>   -->
                                <li><a class="dropdown-item" href="/company/<%= currentUser._id %>/viewjob/:page">All
                                        Previous Jobs</a></li>
                                <li><a class="dropdown-item" href="/company/createjob">Create a new Job</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                <% } else if(currentUser && currentUser.isAdmin) {%>
                                    <li ><a class="dropdown-item" href="/quiz">Show Quiz</a></li>
                                <li><a class="dropdown-item" href="/admin/companies/1">Registered Companies</a></li>
                                <li><a class="dropdown-item" href="/admin/seekers/1">Registered Seekers</a></li>
                                <li><a class="dropdown-item" href="/admin/jobs/1">Jobs Posted</a></li>
                                <li><a class="dropdown-item" href="/admin/feedback/1">Feedbacks</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                <% } else if(currentUser) {%>
                                <!-- <li ><a class="dropdown-item" href="/contactus">Edit Profile</a></li>   -->
                                <li><a class="dropdown-item" href="/seeker/<%= currentUser._id %>/myprofile">My Profile</a></li>
                                <li><a class="dropdown-item" href="/seeker/:seeker_id/appliedJobs">My Applied Jobs</a>
                                </li>
                                <li><a class="dropdown-item" href="/quiz/show">Take A Quiz</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                <% } else{ %>
                                <li><a class="dropdown-item" href="/login">Sign In</a></li>
                                <li><a class="dropdown-item" href="/register">Register as a New User</a></li>
                                <% } %>
                                
                                    <li ><a class="dropdown-item"  href="/contactus">Contact Us</a></li>
                                    <li><a class="dropdown-item" href="/aboutus">About Us</a></li>
                                
                            </ul>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length >0){%>
        <div class="alert alert-danger alert-dismissible" role="alert" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
            <%= error %>
        </div>
        <% }%>
        <% if(success && success.length >0){%>
        <div class="alert alert-success alert-dismissible" role="alert" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
            <%= success %>
        </div>
        <%}%>
    </div>