<%- include("../partials/header") %>
<div class="row">
    <h1 style="text-align: center">Edit your profile <%= company.name %></h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/company/updateprofile/<%= company._id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Company Name </label>
                <input class="form-control" type="text" id="name" name="name" value="<%= company.name %>" placeholder="Company Name"  required> 
            </div>
<!--            
            <div class="form-group">
                <label for="email">Work Email D: </label>
                <input class="form-control" type="email" id="email" name="email" value="<%= company.email %>" placeholder="Enter Email Id"  required>
            </div> -->
            <div class="form-group">
                <label for="tagline">Tagline/Motto </label>
                <input class="form-control" type="text" id="tagline" name="tagline" value="<%= company.tagline %>" placeholder="Briefly describe about your company"  required>
            </div>

            <div class="form-group">
                <label for="description">Profile Desrciption </label>
                <!---text area does not support value so we can get the already done description we need to add the new one or chnage the text area to input tag-->
                <textarea class="form-control" id="description" name="description" value="<%= company.description %>" rows="3" ></textarea>
            </div>
            <div class="form-group">
                <label for="company_url">Company Website </label>
                <input class="form-control" type="url" id="company_url" name="company_url" value="<%= company.company_url %>" placeholder="Company URL"  >
            </div>
            <div class="form-group">
                <label for="establishmentDate">Establishment Year </label>
                <input class="form-control" type="text" id="establishmentDate" name="establishmentDate" value="<%= company.establishmentDate %>" placeholder="Establishment Year"  required>
            </div>
            <div class="form-group">
                <label for="linkedinId">LinkedIn ID </label>
                <input class="form-control" type="url" id="linkedinId" name="linkedinId" value="<%= company.linkedinId %>" placeholder="LinkedIn ID of the Comapny">
            </div>
            <div class="form-group">
                <label for="facebookId">Facebook Profile </label>
                <input class="form-control" type="url" id="facebookId" name="facebookId" value="<%= company.facebookId %>" placeholder="Facebook Profile of the Company">
            </div>
            <div class="form-group">
                <label for="contactno">Contact Info </label>
                <input class="form-control" type="text"  name="contactno" value="<%= company.cotactno %>" placeholder="Provide Contact Number of the Company">
            </div>
            <div class="form-group">
                  <label for="logo">Company Logo </label>
                 <input type="file" class="form-group" id="logo" name="logo" placeholder="Add logo" accept=".png,.jpg,.jpeg"  aria-describedby="passwordHelpInline" required>
                  <small id="passwordHelpInline" class="text-muted">
                    (Accepted file formats: PNG, JPG, JPEG)
                  </small> 
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Update</button>
            </div>
        </form>
        <a href="/register">Go Back</a>
    </div>
</div>

<%- include("../partials/footer") %>