<%- include("../partials/header") %>
<style>
    .media{
        line-height: 1.4em;
    font-family: "Whitney SSm A", "Whitney SSm B", Avenir, "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    }
    .tabcontent{
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.d-inline-block {
    display: inline-block!important;
}
.media-body h5{
    font-size: 1.25rem;
}
    
</style>
<div class="container">
<div class="container">
    <div class="profile-wrapper">
        <div class="profile-section-user">
            <div class="profile-cover-img"><img
                    src="https://www.whiteheadassoc.com/wp-content/uploads/2018/09/iStock-998993038-768x384.jpg" alt="">
            </div>
            <div class="profile-info-brief p-3"><img class="img-fluid user-profile-avatar" src="<%=company.logo%>"
                    alt="">
                <div class="text-center">
                    <h5 class="text-uppercase mb-4"><b><%= company.name%></b></h5>
                    <p class=" fz-base" style="color:rgba(52, 10, 58, 0.678)"><i><%= company.tagline%></i></p>
                    <hr>
                    <p class="text-muted fz-base">Established in <%= company.establishmentDate%></p>
                </div>
            </div>
            <!-- /.profile-info-brief -->
            <hr class="m-0">
            <div class="hidden-sm-down">
                <hr class="m-0">
                <div class="profile-info-general p-4">
                    <h6 class="mb-3">General Description</h6>
                    <p class="text-muted"><%=company.description%></p>
                </div>
                <!-- /.profile-info-general -->
                <hr class="m-0">
                <!-- /.profile-info-contact -->
                <div class="profile-info-contact p-4">
                    <h6 class="mb-3">Contact Information</h6>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>URL:</strong></td>
                                <td>
                                    <p class="text-muted mb-0"><%=company.company_url%></p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>LinkedIn:</strong></td>
                                <td>
                                    <p class="text-muted mb-0"><%=company.linkedinId%></p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Contact at:</strong></td>
                                <td>
                                    <p class="text-muted mb-0"><%=company.contactno%></p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Facebook:</strong></td>
                                <td>
                                    <p class="text-muted mb-0"><%=company.facebookId%></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr class="m-0">
            </div>
            <!-- /.hidden-sm-down -->
        </div>
        <!-- /.profile-section-user -->
        <div class="profile-section-main">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tabs sticky" role="tablist">
                <li class="nav-item" id="timeline"><a class="nav-link active" data-toggle="tab" href="#profile-overview"
                        role="tab" onclick="openCity( event , 'profile-overview' )" id="defaultOpen" >Timeline</a></li>
                <% if((currentUser && company.createdBy.id.equals(currentUser._id) && currentUser.isCompany)){ %>
                <li class="nav-item" id="timeline"><a class="nav-link active" href="/company/<%= company._id %>/editprofile">Edit Profile</a></li>
                <% } %>
                <li class="nav-item" id="timeline"><a class="nav-link active" data-toggle="tab" href="#photo-overview"
                    role="tab" onclick="openCity( event , 'photo-overview' )">Photos</a></li>
                <li class="nav-item" id="timeline"><a class="nav-link active" data-toggle="tab" href="#view-jobs" role="tab"
                    onclick="openCity( event , 'view-jobs' )">View Jobs</a></li>
            </ul>
            <!-- /.nav-tabs -->
            <!-- Tab panes -->
            <div class="tab-content profile-tabs-content">
                <div class="tab-pane active" id="profile-overview" role="tabpanel">
                        <% if((currentUser && company.createdBy.id.equals(currentUser._id)) && currentUser.isCompany){ %>
                        <div class="post-editor " id="post-editor">
                            <form action="/company/<%= company._id %>/posts" method="POST">
                            <input style="width: 100%; border:2mm; margin-bottom:5px" name="posts[heading]" placeholder="Post Heading"/>
                            <textarea name="posts[description]" id="post-field" class="post-field"
                                placeholder="Write Something Cool!"></textarea>

                            <button class="btn btn-success px-4 py-1" href="#">Post</button>
                       
                        </form>
                    </div>
                        <% }%>
                 

                    <!-- /.post-editor -->
                    <div class="stream-posts">
                        <%  company.posts.forEach(function(post){%>
                        <div class="stream-post">
                            <div class="sp-author">
                                <a href="#" class="sp-author-avatar"><img src="<%=company.logo%>" alt=""></a>
                                <h6 class="sp-author-name"><a href="#"><%= post.heading %></a></h6>
                            </div>
                            <div class="sp-content">
                                <div class="sp-info">
                                    <div class="moment"><%= moment(post.createdAt).fromNow() %></div>
                                    <div class="date"></p><%= moment(post.createdAt).format('DD-MM-YYYY') %></div>
                                </div>
                                <p class="sp-para"><%=post.heading %></p>
                                <p class="sp-paragraph mb-0"><%= post.description %></p>
                            </div>
                            <!-- /.sp-content -->
                            <% if((currentUser && company.createdBy.id.equals(currentUser._id) && currentUser.isCompany)){ %>
                            <div class="btn-toolbar" style="padding-left: 15px">
                                <form onsubmit="return confirm('Do you really want to Delete your post?');"  class="delete-form"
                                    action="/company/<%= company._id%>/postsdelete/<%= post._id %>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-xs btn-danger pull-right" type="Submit" value="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                                </form>
                                <a class="btn btn-xs btn-info  active active pull-right" style="margin-right: 3px;"
                                    href="/company/<%= company._id%>/posts/<%= post._id %>/edit">
                                    <span class="glyphicon glyphicon-edit"></span></a>
                            </div>
                            <% } %>
                        </div>
                        <% }) %>
                    </div>
                    <!-- /.stream-posts -->
                </div>
            </div>
            <div class="tab-content profile-tabs-content">
                <div class="tab-pane active" id="photo-overview" role="tabpanel">
                    <!-- image.form start-->
                    <% if((currentUser && company.createdBy.id.equals(currentUser._id)) && currentUser.isCompany){ %>
                    <p style="text-align: right;">
                    <button class="btn btn-success" id="gallery-image" onclick="ShowAndHide()" onmouseover="Show()"> ADD IMAGE <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg></button>
                      </p>
                      
                     <div class="post-editor " id="image-editor" style="display: none;">
                        
                        <form action="/company/<%= company._id %>/images" method="POST" enctype="multipart/form-data">
                            <input style="width: 90%; border:2mm; padding:5px; margin:10px 10px 0" name="caption" placeholder="Add caption(if any)"/>
                            <!-- <textarea name="posts[description]" id="post-field" class="post-field"
                                placeholder="Write Something Cool!"></textarea> -->
                            <input type="file" name="image"  accept="image/*" style="margin:10px 10px 0px" required>
                            <button class="btn btn-success px-4 py-1" style="margin:10px" href="#">Add </button>
                       
                        </form>
                      
                    </div> 
                    <% }%> 
                    <!--image.form end--> 
                    <hr>
                    <div id="gallery" class="container-fluid">  
                        <% company.photos.forEach(function(each){ %>
                            <div class="none" style=" margin: 6% auto;">
                            <img src="<%= each.image %>" class="card img-responsive" alt="<%= each.caption %>">
                            <div class="overlay" style="padding: 10px;font-size: 15px;bottom: 0;top: auto;">uploaded <%= moment(each.createdAt).fromNow() %></div>
                            </div>
                        <% }); %>
                      
                      </div>
                      <div id="myModal" class="modal fade in" role="dialog">
                        <span class="closebtn">&times;</span>
                        <div class="modal-dialog">
                         
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                            </div>
                          </div>
                      
                        </div>
                      </div>
                  </div>  
            </div>
            <!-- /.tab-content -->
            <!--/job-content -->
            <div class="tab-content profile-tabs-content">
                <div class="tab-pane active" id="view-jobs" role="tabpanel">
                    <div class="row">
                    <% jobs.forEach(function(job) { %>
                        <div class="col-sm-12 col-md-12 m-15px-tb">
                            <div class="media box-shadow-only-hover hover-top border-all-1 border-color-gray p-15px">
                                <div class="d-inline-block">
                                    <img src="<%= company.logo %>" width="50px" height="50px">
                                </div>
                                <div class="p-20px-l media-body">
                                    <h5 class="m-5px-tb"><%= company.name %></h5>
                                    <h6 class="m-5px-tb"><%= job.name %></h6>
                                    <p class="m-5px-tb"><%= job.location %></p>
                                    <p class="m-5px-tb font-small"><%= job.experience %>+ years of experience</p>
                                    <a href="/seeker/<%= job._id %>/applyjob" class="a-class">
                                    <span class="theme2nd-bg white-color p-0px-tb p-10px-lr font-small border-radius-15">More info</span>
                                    </a>
                                </div>
                            </div>
                          </div>
                    <% }); %>
                </div>
                </div>
            </div>
            <!--job-content-->
        </div>
        <!-- /.profile-section-main -->
    </div>
</div>


</div>
<script>
    
    $(document).ready(function(){
    

      $("img").click(function(){
      var t = $(this).attr("src");
      var y = $(this).attr("alt");
      $(".modal-body").html("<div class='none'><img src='"+t+"' class='modal-img'><div class='overlay'>"+y+"</div></div>");
      $("#myModal").modal();
    });
});

$(document).ready(function(){
    

    $(".closebtn").click(function(){
        $('#myModal').modal('hide')
  });
});
</script>
<script>
     $('head').append('<link rel="stylesheet" type="text/css" href="/stylesheets/company/myprofile.css">');
    function openCity(evt, status) {
            var i, tabcontent, navitem;
            tabcontent = document.getElementsByClassName("tab-pane");
            console.log(0);
            for (i = 0; i < tabcontent.length; i++) {
               tabcontent[i].style.display = "none";
            }
            navitem = document.getElementsByClassName("nav-link");
            for (i = 0; i < navitem.length; i++) {
                navitem[i].className = navitem[i].className.replace(" active", "");
            }
            document.getElementById(status).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();

    function ShowAndHide() {
    var x = document.getElementById('image-editor');
    if (x.style.display == 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
    function Show() {
    var x = document.getElementById('image-editor');
    if (x.style.display == 'none') {
        x.style.display = 'block';
    }
}

</script>
<%- include("../partials/footer") %>