<%- include("../partials/header") %>
<div class="container">
    <div class="well">
    <div class="text-right">
        <p>
            <%= job.name %>
        </p>
<% job.appliedBy.forEach(function(user){%>
<%   seekers.forEach(function(seeker){%>
    <% if(seeker.seekerBy.id.equals(user.id)){%>

        <div class="row">
            <div class="col-md-12">
               <strong> <%= seeker.firstname %> </strong>
               <strong><%= seeker.lastname %></strong>
                <!----- make moment to app.js-->
                <hr>
            </div>
        </div>
<% } %>
<% }); %>
<% }); %>
    </div>
    </div>
</div>

<%- include("../partials/footer") %>
