<%- include("../partials/header") %>
<div class="container">
        <h2 class="text-center"><b><%= job.name %></b></h2>
        <br>
        <br>
        <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">College</th>
                    <th scope="col">Graduation Year</th>
                    <th scope="col">Stream</th>
                    <th scope="col">Resume download</th>
                    <th scope="col">Current Status</th>
                    <th scope="col">More Info</th>
                    <th scope="col">Accept</th>
                    <th scope="col">Reject</th>
                </tr>
            </thead>
            <% var i=1; %>
<% job.appliedBy.forEach(function(user){%>
<% seekers.forEach(function(seeker){%>
    <% if(seeker.seekerBy.id.equals(user.postedBy.id)){%>

        <tbody>
            <tr>
                <th scope="row"><%=i %></th>
                <td><%=seeker.firstname %></td>
                <td><%=seeker.lastname %></td>
                <td><%=seeker.education %></td>
                <td><%=seeker.gradyear %></td>
                <td><%=seeker.stream %></td>
                <td>
                    <a class="btn btn-light" role="button" href="/resume/<%= seeker.resume %>" download><i class="fa fa-file-text" style="font-size: 36px;color:red;"></i></a>
                </td>
                <% if(user.isStatus == 'Accepted'){ %>
                <td  style="color:darkgreen;"><strong> Accepted</strong></td>
                <% } %>
                <% if(user.isStatus == 'Rejected'){ %>
                    <td  style="color:red;">Rejected</td>
                <% } %>
                <% if(user.isStatus == 'pending'){ %>
                        <td  style="color:black;">Pending</td>
                 <% } %>
                 <% if((currentUser && currentUser.isCompany)){ %><td>
                    <a class="btn btn-primary" role="button" href="/seeker/<%= user.postedBy.id %>/myprofile">More Info</a>
                  </td>
                 <% } %>
                 <% if((currentUser && currentUser.isCompany)){ %><td>
                    <form onsubmit="return confirm('Do you really want to Accept the following?');" action="/job/<%= job._id %>/selected/<%= user.postedBy.id %>/seeker/<%= seeker._id %>" method="Post">
                        <div>
                        <button  id="demo" class="btn btn-success" name="accept" value="" <% if(user.isStatus != 'pending'){%> disabled <%}%> >
                            Select
                        </button>
                    </div>
                    </form>
                    </td>
                   <% } %>
                   <% if((currentUser && currentUser.isCompany)){ %><td>
                    <form  onsubmit="return confirm('Do you really want to Reject the following?');" action="/job/<%= job._id %>/rejected/<%= user.postedBy.id %>/seeker/<%= seeker._id %>" method="Post">
                        <div >
                        <button  id="demo1" <% if(user.isStatus != 'pending'){%> disabled <%}%> class="btn btn-danger">
                            Reject
                        </button>
                    </div>
                    </form>
                    </td>
                   <% } %>
            </tr>
            </tbody>
<% } %>
<% }); %>
<% i++ %>
<% }); %>
        </table>
        </div>
        </div>
 <!-- <script type="text/javascript">

document.getElementById("demo").addEventListener("click",myFunction);
    function myFunction(){
       // console.log("hi");
        var check = confirm("Are you sure You want to accept this: Click ok to confirm");
       // console.log(check);
        if(check == false)
        {
        document.getElementById("demo").value = "notaccepted";
        //console.log(document.getElementById("demo").value);
        }
        else{
            document.getElementById("demo").style.color="blue";
        document.getElementById("demo").value = "accepted";
        }
   }
    function myFunction1(){
        var check= prompt("Are you sure You want to reject this: Click ok to confirm","Yes");
        if(check != null )
        {
        document.getElementById("demo1").style.color = "red";
        //document.getElementById("demo").disabled = true;
        }
    }
</script>  -->

<%- include("../partials/footer") %>
