<%- include("../partials/header")%>
<div class="container">
	<h2 class="text-center"><b>Openings</b></h2>
			<br>
			<br>
	<div class="table-responsive">
	<table class="table table-hovertable table-bordered ">
		<!-- <thead class="thead-dark"> -->
            <thead class="thead-dark" style="background-color: black;color:white">
			<tr>
				<th scope="col">No.</th>
				<th scope="col">Title</th>
				<th scope="col">Location</th>
				<th scope="col">Experience</th>
				<th scope="col">Description</th>
				<th scope="col">Applied By</th>
				<th scope="col">Delete Job</th>
			</tr>
		</thead>
			<% company.forEach(function(company){ %>
			
				     <% var i=1; %>
					<% jobs.forEach(function(job){ %>
							<tbody>
								<tr>
									<th scope="row"><%=i %></th>
									<td><%= job.name %></td>
									<td><%= job.location %></td>
									<td><%= job.experience %></td>
									<td><%= job.description %></td>
									<% if((currentUser && company.createdBy.id.equals(currentUser._id) && currentUser.isCompany)){ %>
										<td><a class="btn btn-xs btn-warning" href="/company/<%= job._id %>/show/jobstats">
												Applied By</a>
										</td>
										<td>
											<form class="delete-form" action="/company/jobdelete/<%= job._id %>?_method=DELETE"
												method="POST">
												<input class="btn btn-xs btn-danger" type="Submit" value="Delete">
											</form>
										<% } %>
										</td>
								</tr>
							</tbody>
				<% i++ %>
				<% }); %>
		<% }); %>
	</table>
</div>
</div>
<%- include("../partials/footer") %>