<%- include("../partials/header") %>
<p><%= Company.name %></p>
<div>
<hr>
<% jobs.forEach(function(job){ %>
    <p> <%= job.name %></p>
    <p> <%= job.description %></p>
    <p> <%= job.location %></p>
    <p></p>
    <br>
    <br>
<% }); %>
</div>
<%- include("../partials/footer") %>