<%- include("../partials/header") %>
<div class="container">       
<div class="row">
			<h1 style="text-align: center">
				Add New Post to <%=  company.name %>
			</h1>
				<div style="width:30%; margin:25px auto;">
		<form action="/company/<%= company._id %>/posts" method="POST">
			<div class="form-group">
				<input  class="form-control" type="text"  placeholder="heading" name="posts[heading]">
            </div>
            <div class="form-group">
				<input  class="form-control" type="text"  placeholder="Add Post Info Here" name="posts[description]">
			</div>
			<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">
					SUBMIT
				</button>
			</div>
			
		</form>
					<a href="/company/<%= company._id %>/myprofile">Go Back</a>
				</div>
		
            </div>
            </div>
<%- include("../partials/footer") %>