<%- include("../partials/header1") %>
<div class="container">
<div class="row mt-5 text-center">
    <div class="col-md-6 m-auto">
        <h2>Edit Question of  <%= quiz.title %></h2><br>
        <div class="card card-body"  style="background:#89bfcc;margin-bottom: 40px;">
            <form action="/quiz/<%= quiz._id %>/edit/<%= question._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <h5>Question</h5>
                    <input type="text" id="question" name="description" value="<%= question.description %>" class="form-control" placeholder="Enter Question data"  required/>
                </div>
  
                <div class="form-group">
                    <h6>Option 1</h6>
                    <input type="text" id="opt2" name="opt1"value="<%= question.options[0] %>"  class="form-control"
                        placeholder="Enter Option1" required/>
                </div><div class="form-group">
                    <h6>Option 2</h6>
                    <input type="text" id="opt3" name="opt2" value="<%=  question.options[1] %>"  class="form-control"
                        placeholder="Enter Option2"required />
                </div><div class="form-group">
                    <h6>Option 3</h6>
                    <input type="text" id="opt4" name="opt3" value="<%=  question.options[2] %>" class="form-control"
                        placeholder="Enter Option3" required/>
                </div> 
                <div class="form-group">
                    <h6>Option 4</h6>
                    <input type="text" id="opt4" name="opt4" value="<%=  question.options[3] %>" class="form-control"
                        placeholder="Enter Option4" required/>
                </div> 
                <div class="form-group">
                    <label for="opt1" style="color:white;">Correct Answer: </label>
                    <input type="text" id="opt1" name="correctAnswer" value="<%= question.correct %>" class="form-control"
                        placeholder="Enter correctAnswer" required/>
                </div>
                <button type="submit" class="btn btn-lg btn-secondary btn-block">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("../partials/footer1") %>