<%- include("../partials/header") %>
<style>
  
    .takequizbtn {
        width: 350px;
    }
    .bottombox{
        margin-top:90px;
        background-color: aliceblue;
    }
    .bottombox .form-group{
        margin-top: 30px;
    }
</style>
<div class="container">
   
        <h1>Total Quiz: <%= count %> </h1>
        <br>
        <h3>Max No. Of Quiz To Be Posted: <%= currentUser.QuizCount %>
        </h3>
        <h3>No. Of Quiz  Posted: <%= countposted %>
        </h3>
        <br>
        <form  action="/quiz/quizCount" class="form-inline" method="Post">
            <div class="form-group">
                <label for="name-f">Quiz Count</label>
                <input style="
                    text-transform: capitalize;" class="form-control" type="text" placeholder="Enter Quiz Count to be posted"
                    name="QuizCount" id="name-f" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-sm ">Add</button>
            </div>
    </form>
        <div class="form-group">
            <a href="/quiz/new" class="btn btn-lg btn-success pull-right ">Create a New Quiz</a>
        </div>
        <div class="quizcontainer">
            <% quiz.forEach(function(quiz){ %>
                <br>
            <h3><%= quiz.title %></h3>
            <a href="/quiz/show/<%= quiz._id %>" class="btn btn-primary btn-sm pull-left">Add Questions</a>
            <form onsubmit="return confirm('Do you really want to unpost the following?');"
                action="/quiz/unpost/<%= quiz._id %>" method="Post">
                <div>
                    <button id="demo" class="btn btn-success btn-sm pull-left" name="unpost" value=""
                        <% if(!quiz.posted && !quiz.toBeposted){%> disabled
                        <%}%> >
                    Unpost 
                </button>
            </div>
            </form>
            <form onsubmit="return confirm('Do you really want to post the following?');" action="/quiz/post/<%= quiz._id %>" method="Post">
                        <div>
                            <button id="demo" class="btn btn-success btn-sm pull-left" name="post" value=""
                                <% if(quiz.posted || quiz.toBeposted){%> disabled
                                <%}%> >
                    Post
                </button>
            </div>
            </form> 
    
                      <form  onsubmit="return confirm('Do you really want to delete the following?');" action="/quiz/delete/<%= quiz._id %>?_method=Delete"
                                method="POST">
                                <button type="submit" name="Delete" class="btn btn-danger btn-sm active pull-left">Delete</button>
            </form>
            <% }); %>
        </div>
        
        <div class="row bottombox" >
            <% quiz.forEach(function(quiz){ %>
            <div >
                <div class="form-group text-center">
                    <a href="/quiz/<%= quiz._id %>/takequiz" class="btn btn-lg btn-warning takequizbtn active">
                       See <%= quiz.title %></a>
                </div>
            </div>
            <% }); %>
        </div>
</div>


<%- include("../partials/footer") %>