<%- include("../partials/header") %>
<div class="container">
<div class="row">
    <h1>Total Quiz: <%= count %> </h1>
    <div class="form-group">
        <a href="/quiz/new" class="btn btn-lg btn-warning active btn-block">Create Quiz</a>
    </div>
    <% quiz.forEach(function(quiz){ %>
       <a href="/quiz/show/<%= quiz._id %>" class="btn btn-primary"><%= quiz.title %></a>
        <form onsubmit="return confirm('Do you really want to unpost the following?');" action="/quiz/unpost/<%= quiz._id %>" method="Post">
            <div>
            <button  id="demo" class="btn btn-success" name="unpost" value="" <% if(!quiz.posted && !quiz.toBeposted){%> disabled <%}%> >
                unpost 
            </button>
        </div>
        </form>
        <form onsubmit="return confirm('Do you really want to post the following?');" action="/quiz/post/<%= quiz._id %>" method="Post">
            <div>
            <button  id="demo" class="btn btn-success" name="post" value="" <% if(quiz.posted || quiz.toBeposted){%> disabled <%}%> >
                post
            </button>
        </div>
        </form> 

                  <form  onsubmit="return confirm('Do you really want to delete the following?');" action="/quiz/delete/<%= quiz._id %>?_method=Delete" method="POST">
                    <button type="submit" name="Delete" class="btn btn-warning active">Delete</button>
                </form>
    <% }); %>

    <% quiz.forEach(function(quiz){ %>
       <div class="form-group">
      <a href="/quiz/<%= quiz._id %>/takequiz" class="btn btn-lg btn-warning active btn-block">give quiz:<%= quiz.title %></a>
        </div>
  <% }); %>
   
 </div>
 </div>
<%- include("../partials/footer") %>
