<%- include("../partials/header") %>
<style>
	.well{
		background-color: rgb(241, 250, 252);
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-auto">
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/quiz/<%= quiz._id %>/questions">Add a New Question</a>
				</div>
				<h1><%= quiz.title %></h1>
                <br>
                <% var j=1 %>
				<% quiz.questions.forEach(function(question){%>
						<div class="row">
							<div class="col-md-12">
                                <strong>Q.<%= j %> <%= question.description %></strong>
                                <!----- make moment to app.js-->
                                <br>
                                <%  var i=1;
                                    question.options.forEach(function(option){ %>
                                <p><%= i %>  <%= option %></p>
                                <% i++ ; }); %>
                                <p>Ans: <%= question.correct %></p>
				<a class="btn btn-xs btn-warning pull-right" 	href="/quiz/<%= quiz._id %>/edit/<%= question._id%>">Edit</a>
								<form class="delete-form"
									  action="/quiz/<%= quiz._id %>/delete/<%= question._id%>/?_method=DELETE" method="POST">
									<input class="btn btn-xs btn-danger pull-right" type="Submit" value="Delete">
								</form>
								<hr>
							</div>
                        </div>
<% j++; }); %>
                        
			</div>
			<div>
			</div>
        </div>
<a href="/quiz" class="back-size" >Go Back</a>

    </div>
    </div>
<%- include("../partials/footer") %>