<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeHire</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .qstn {
            background-color: rgb(96, 134, 168);
            color:white;
            border-radius: 25px;
            margin-bottom: 0%;
            padding:0.2%;
        }
        .qstn h5{
            margin-left: 15px;
        }
        .answer {
            background-color: rgb(242, 248, 248);
            border-radius: 25px;
            margin-top: 0.5%;
            margin-bottom:40px;
            padding:1%;
        }
        #quiztitle{
           color:teal;
            margin-bottom: 40px;
        }
    </style>
</head>
<body onload="timeout()"  onbeforeunload="myFunction()">
      
<div class="container">
    <h1 id="quiztitle"><%= quiz.title %><div id="time" style="float:right">timeout</div></h1>
   <script type="text/javascript">
       var timeLeft1="<%= quiz.time %>";
       var timeLeft=timeLeft1*60;
   </script>
    <!-- <h1>Time: <h2 id="time">200</h2></h1> -->
    <form id="quiz" name="quiz" action="/quiz/<%= quiz._id %>/takequiz" method="POST">
        <% function shuffleArray(array) { 
                    for (var i = array.length - 1; i > 0; i--) { 
                        
                        // Generate random number 
                        var j = Math.floor(Math.random() * (i + 1)); 
                                        
                        var temp = array[i]; 
                        array[i] = array[j]; 
                        array[j] = temp; 
                    } 
                            
                    return array; 
        } %>
        <% quiz.questions.forEach(function(question){%>
        <div class="row">
            <div class="col-xs-8 qstn">
                <h5>Q. <%= question.description %> ?</h5>
            </div>
            <div class="col-xs-8 answer">
                <% var aftershuffle = shuffleArray(question.options); %>
                <% aftershuffle.forEach(function(option){ %>
                <input type="radio" name="<%= question._id %>" value="<%= option %>"> <%= option %>
                <input type="radio" style="display: none;" name="<%= question._id %>" value="" checked>
                <br>
                <% }); %>
            </div>
        </div>
<%});%>
<center><button type="submit" value="submit" class="btn btn-success pull-right">Submit</button></center>
</form>
</div>
<!-- <script>
    window.onbeforeunload = closingCode;
    function closingCode(){
       document.getElementById("quiz").submit();
       return null;
    }
    </script> -->
     <script>
        function myFunction()
        {
            
            clearTimeout(tm);
            setTimeout(() => {'document.quiz.submit()'}, 1);
             document.getElementById("quiz").submit();
        }
      </script>
<!-- <script type="text/javascript">
    function checkRequest(event){
        event.preventDefault();
        event.returnValue = '';
        var __type= event.currentTarget.performance.navigation.type;
        if(__type === 1 || __type === 0){
            // alert("Browser refresh button is clicked...");
            document.getElementById('quiz').submit();
        }
        else if(__type ==2){
            document.getElementById('quiz').submit();
        }
    }
</script> -->
<!-- <script> 
    function finishpage()
   {
     //alert("unload event detected!");
    setTimeout(() => {'document.quiz.submit()'}, 1);  
     //document.quiz.submit();
   }
       window.onbeforeunload= function(finishpage) {
         return true ;
    setTimeout(() => {'document.quiz.submit()'}, 1);
    
   } -->
<!-- // $(window).on('beforeunload',function(){
//     finishpage();
//     return "Bye"
//window.addEventListener('beforeunload', function (e) {
  //e.returnValue = 'You will loose';
  //return finishpage;
</script>  -->
<script type="text/javascript">
    function timeout()
    {
        var hour = Math.floor(timeLeft/3600);
        var rem1 = Math.floor(timeLeft%3600);
        var minute= Math.floor(rem1/60);
        var rem2= Math.floor(rem1%60);
        var second = rem2;
        var hrs=checktime(hour);
        var min=checktime(minute);
        var sec=checktime(second);
        if(timeLeft <= 0)
        {
            clearTimeout(tm);
            setTimeout(() => {'document.quiz.submit()'}, 1);
             document.getElementById("quiz").submit();
        }
        else{
          document.getElementById("time").innerHTML= hrs+":"+min+":"+sec;
        }
        //seconds dec
       timeLeft--;
        var tm= setTimeout(function(){timeout()},1000);
    }
    function checktime(msg)
    {
        if(msg<10)
        {
            msg="0"+msg;
        }
        return msg;
  }
</script>
</body>
</html>


<!-- <script type="text.javascript">
    function noback()
    {
        window.history.forward();
    }
    setTimeout(function(){preback()},0);
    window.onunload = function(){null};
</script> -->
 