<%- include("../partials/header") %>
<style>
    .qstn {
        background-color: rgb(96, 134, 168);
        color:white;
        border-radius: 25px;
        margin-bottom: 0%;
        padding:0.2%;
    }
    .qstn h5{
        margin-left: 15px;
    }
    .answer {
        background-color: rgb(242, 248, 248);
        border-radius: 25px;
        margin-top: 0.5%;
        margin-bottom:40px;
        padding:1%;
    }
    #quiztitle{
       color:teal;
        margin-bottom: 40px;
    }
</style>
<!-- <script type="text.javascript">
    function noback()
    {
        window.history.forward();
    }
    setTimeout(function(){preback()},0);
    window.onunload = function(){null};
</script> -->
<script type="text/javascript">
      function timeout()
      {
          var hour = Math.floor(timeLeft/3600);
          var rem1 = Math.floor(timeLeft%3600);
          var minute= Math.floor(rem1/60);
          var rem2= Math.floor(rem1%60);
          var second = rem2;
          var hrs=checktime(hour);
          var min=checktime(minute);
          var sec=checktime(second);
          if(timeLeft <= 0)
          {
              clearTimeout(tm);
              setTimeout(() => {'document.quiz.submit()'}, 1);
               document.getElementById("form1").submit();
          }
          else{
            document.getElementById("time").innerHTML= hrs+":"+min+":"+sec;
          }
          //seconds dec
         timeLeft--;
          var tm= setTimeout(function(){timeout()},1000);
      }
      function checktime(msg)
      {
          if(msg<10)
          {
              msg="0"+msg;
          }
          return msg;
    }
</script>
<script type="text/javascript">
//     function finishpage()
//    {
//      //alert("unload event detected!");
//     setTimeout(() => {'document.quiz.submit()'}, 1);  
//      //document.quiz.submit();
//    }
//        window.onbeforeunload= function(finishpage) {
//          return ;
//     // setTimeout(() => {'document.quiz.submit()'}, 1);
    
//    }
// $(window).on('beforeunload',function(){
//     finishpage();
//     return "Bye";
// });
// window.addEventListener('beforeunload', function (e) {
//   e.returnValue = 'You will loose';
//   return finishpage;
// });
   </script>
<div class="container">
    <h1 id="quiztitle"><%= quiz.title %><div id="time" style="float:right">timeout</div></h1>
   <script type="text/javascript">
       var timeLeft1="<%= quiz.time %>";
       var timeLeft=timeLeft1*60;
   </script>
    <!-- <h1>Time: <h2 id="time">200</h2></h1> -->
    <form id="form1" name="quiz" action="/quiz/<%= quiz._id %>/takequiz" method="POST">
        <% function shuffleArray(array) { 
                    for (var i = array.length - 1; i > 0; i--) { 
                        
                        // Generate random number 
                        var j = Math.floor(Math.random() * (i + 1)); 
                                        
                        var temp = array[i]; 
                        array[i] = array[j]; 
                        array[j] = temp; 
                    } 
                            
                    return array; 
        } %>
        <% quiz.questions.forEach(function(question){%>
        <div class="row">
            <div class="col-xs-8 qstn">
                <h5>Q. <%= question.description %> ?</h5>
            </div>
            <div class="col-xs-8 answer">
                <% var aftershuffle = shuffleArray(question.options); %>
                <% aftershuffle.forEach(function(option){ %>
                <input type="radio" name="<%= question._id %>" value="<%= option %>"> <%= option %>
                <input type="radio" style="display: none;" name="<%= question._id %>" value="" checked>
                <br>
                <% }); %>
            </div>
        </div>
<%});%>
<center><button type="submit" value="submit" class="btn btn-success pull-right"></button></center>
</form>
<script>
    // var secondsRemaining;
    // var down;
    // var up;
    // var minutesLabel = document.getElementById("countUpMin");
    // var secondsLabel = document.getElementById("countUpSec");
    // var startClock = document.getElementById("startClock");
    // //count down
    // function countDown()
    // {
    //     var timeDisplay = document.getElementById("time");
    //     var min = Math.floor(secondsRemaining/60);
    //     var sec = Math.floor(secondsRemaining-(min * 60));
    //     if(sec < 10)
    //     {
    //         sec="0"+sec;
    //     }
    //     if(min < 10)
    //     {
    //         min = "0"+min;
    //     }
    //     var message= min.toString()+":"+sec.toString();
    //     timeDisplay.innerHTML = message;
    // }
    // var c=200;
    //  function timer()
    //  {
    //      c= c-1;
    //      if(c < 200)
    //      document.getElementById("time").innerHtml = c;
    //      if(c<1)
    //      {
    //          window.clearInterval(update);
    //      }
    //  }
    //  update = setInterval(timer,1000);
</script>
</div>
<%- include("../partials/footer") %>